{% extends 'base.html' %}
{% load static %}

{% block title %}
Guides & Recipes | Log Max
{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="static-page-wrapper">
  <div class="container">
    <div class="static-page-content">
      <h1 class="static-page-title">Guides & Recipes</h1>
      <p class="static-page-subtitle">Coming Soon!</p>
      <div class="static-page-text">
        <p>We are working hard to bring you the best guides and tested recipes from the world of homebrewing.</p>
        <p>Here you will find everything from beginner's guides on your first brew to advanced techniques for experienced brewers, as well as a collection of recipes for various beer styles using our products.</p>
        <p>Stay tuned for updates!</p>
      </div>
      <a href="{% url 'product_list_main' %} " class="button button--primary">Back to Products</a>
    </div>
  </div>
</main>

{% endblock %}